# Directories
node_modules/
src/store/item-types.js
src/store/entity-types.js
public/video/
public/documents/


# Files
package-lock.json
*.json.bak

# dotenv environment variable files
.env
.env.development.local
.env.local
.env.prepub
.env.production
.env.production.local
.env.test.local

# Nuxt.js build / generate output
dist
src/drafts/
