<VirtualHost *:80>
	# CHANGE THE DOMAIN HERE:
    ServerName subdomain.domain.ch
	# CHANGE THE APP PATH HERE:
    Define SOP_ROOT "/path/to/your/app/root"
	
	DocumentRoot "${SOP_ROOT}/front/dist"

	Alias /ne_sop_api/static "${SOP_ROOT}/back/ne_sop_backend/ne_sop_backend/static"
	<Directory "${SOP_ROOT}/back/ne_sop_backend/ne_sop_backend/static">
		Require all granted
	</Directory>

	WSGIScriptAlias /ne_sop_api "${SOP_ROOT}/back/ne_sop_backend/ne_sop_backend/wsgi.py"

	<Directory "${SOP_ROOT}/back/ne_sop_backend/ne_sop_backend/">
		<Files wsgi.py>
			Require all granted
		</Files>
	</Directory>
</VirtualHost>
